<div 
    data-ng-repeat=
	    'record in records | filter: filter_name'
></div>


<html ng-app='coolApp'>
…
<body>
…
  <script src='angular.js'></script>
  <script src='coolApp.js'></script>
</body>
</html>
<p ng-controller='PersonController as person'>
    Hi, {{person.model.name}}
</p>



<div ng-controller="HelloController"> 
  Name:
  <input type="text" ng-model="name" />

  <h1>Hello {{ name }}</h1>
  
</div> 
<script>
   var app = angular.module('myApp', []);
   app.controller('HelloController', function($scope){
      $scope.name = 'World';          
   });
</script> 